<h1>Editing medication</h1>

<%= render 'form' %>

<%= link_to 'Show', @medication %> |
<%= link_to "Delete", @medication, method: :delete, data: { confirm: 'Are you sure you wish to delete this medication?' } %> |
<%= link_to 'Back', medications_path %>
